body {
    background-color: #D3D3D3;
}
#site {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
}

header {
    text-align: center;
    background-color: #005353;
    height: 70px;
    margin-bottom: 20px;
}
nav {
    background-color: #003153;
    height: 200px;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul li {
    width: 100px;
    height: 100px;
    margin-bottom: 0;
    margin-left: 3em;
    margin-right: 3em;
    background-color: #D3D3D3;

}
#mellansektion {
    background-color: #003153;
    height: 200px;
}

footer {
    background-color: #003153;
}
