body {
    margin: 0;
    background-color: #D3D3D3;
}
#site {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    max-width: 900px;
    margin: auto;
}

header {
    font-family: Helvetica;
    text-align: center;
    background-color: #344F00;
    height: 70px;
}
nav {
    background-color: #7A9E35;
    margin-bottom: 1em;
}
ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
ul li {
    font-family: Helvetica;
    font-size: x-large;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 65px;
    background-color: #A4C663;

}
ul > a {
    color: #000000;
    text-decoration: none;
}
ul a:nth-child(2) {
    margin-left: 70px;
    margin-right: 70px;
}
ul li:hover {
    background-color: #557714;
}

#mellansektion {
    font-family: sans-serif;
    background-color: #7A9E35;
    display: flex;
    justify-content: center;

}
#mellansektion article {
    background-color: #D2ED9E;
    min-width: 300px;
    max-width: 600px;
}
#mellansektion article p {
    padding: 5px;
    padding: 15px 15px;
}
#art-backgrund {
    display: flex;
    flex-direction: row;
}
#art-backgrund > figure {
    margin: 1em;
}
footer {
    background-color: #344F00;
}
footer > p {
    margin-left: 1em;
}